@import "tailwindcss";

body {
    /* background: linear-gradient(135deg, #4c1d95 0%, #6b21a8 50%, #7e22ce 100%); */
    background-color: #0b0a10;
    min-height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

* {
    scrollbar-width: none;
    
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --font-font-sans: var(--font-sans);
    --font-font-heading: var(--font-heading);
    --font-font-serif: var(--font-serif);
    --font-font-mono: var(--font-mono);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);
    --tracking-normal: var(--tracking-normal);
}

:root {
    --background: #0b0a10;
    --foreground: #fafafa;
    --primary: #8b5cf6;
    --primary-foreground: #ffffff;
    --secondary: #262433;
    --secondary-foreground: #e9d5ff;
    --muted: #262433;
    --muted-foreground: #a1a1aa;
    --accent: #262433;
    --accent-foreground: #ffffff;
    --destructive: #7f1d1d;
    --card: #15141c;
    --card-foreground: #fafafa;
    --popover: #15141c;
    --popover-foreground: #fafafa;
    --border: #262433;
    --input: #262433;
    --ring: #7c3aed;
    --sidebar: #0b0a10;
    --sidebar-foreground: #fafafa;
    --sidebar-primary: #8b5cf6;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #262433;
    --sidebar-accent-foreground: #fafafa;
    --sidebar-border: #262433;
    --sidebar-ring: #7c3aed;
    --chart-1: #8b5cf6;
    --chart-2: #d946ef;
    --chart-3: #0ea5e9;
    --chart-4: #f43f5e;
    --chart-5: #eab308;
    --font-sans: "Plus Jakarta Sans";
    --font-heading: "Plus Jakarta Sans";
    --font-serif: "Playfair Display";
    --font-mono: "JetBrains Mono";
    --radius: 1rem;
}